In [1]:
for i in range(5):
  print(i)

0
1
2
3
4

In [2]:
n=[1,2,3,4,5,6]
for i in n:
  print(i)

1
2
3
4
5
6

In [4]:
#while loop

i=0

while i<=10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
#functions
def sum(a,b):
  return a+b

sum(2,3)

5

In [7]:
#factorial of number#
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

factorial(5)

120

In [8]:
n=5
fact=1
for i in range(1,n+1):
  fact=fact*i
print(fact)

120